.hot {
    .products__name, .product-set__product-name {
        padding-left: 30px;
        background-image: url(../img/icons/pepper.svg);
        background-repeat: no-repeat;
        background-position: left 0.4em;
        background-size: 1.25em;
    }
    .product-card__name {
        &>span:last-child {
            background-image: url(../img/icons/pepper.svg);
            background-repeat: no-repeat;
            background-position: right 60%;
            background-size: 0.7em;
            padding-right: 40px;
        }
    }
}

.discounted {
    .discount {
        display: flex;
    }
}