.burger {
    height: 39px;
    width: 39px;
    background-color: transparent;
    background-image: url("../img/icons/star2.svg");
    display: none;
}
.menu-active {
    .burger {
        background-image: url("../img/icons/star.svg");
    }
}
// <=1024px
@include media-breakpoint-down(tablet) {
    .burger {
        display: block;
        border: none;
        position: relative;
        margin: 0 1rem;

        &__line {
            position: absolute;
            height: 1px;
            background-color: $brown;
            border-radius: 2px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;

            &--1 {
                top: 35%;
                width: 35%;
            }
            &--2 {
                top: calc(50% - 1px);
                width: 50%;
            }
            &--3 {
                bottom: 35%;
                width: 35%;
            }
        }
    }
}