.search {
    padding: 0;

    &__icon {
        height: 16px;
    }
    &__form {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__input {
        border: none;
        background-color: transparent;
        height: 100%;
        max-width: 0;
        text-transform: uppercase;
        font-weight: 500;
        transition: max-width 0.8s ease-out, padding 0.4s ease-in;
        font-family: $font-secondary;
        padding-left: 0;
    }
    &__button {
        display: flex;
        background-color: transparent;
        border: none;
        animation: 1s linear transform;
        height: 100%;
        padding: 0;
        width: 80px;
        justify-content: center;
        align-items: center;

        &:hover {
            animation-name: shake-it-baby;
        }

        @keyframes shake-it-baby {
            25% {
                transform: rotate(16deg)
            }
            50% {
                transform: rotate(0);
            }
            75% {
                transform: rotate(-16deg);
            }
            100% {
                transform: rotate(0);
            }
        }
    }
}
.search.active {

    .search__input {
        max-width: 600px;
        padding: 1em;
    }
}

// <=1024px
@include media-breakpoint-down(tablet) {
    .search {
        &__input {
            padding-left: 1em;
        }
    }
}