{{ header }}
<main class="error-page">
    <div class="error__icons">
        <div class="rellax" data-rellax-speed="-4">
            <div class="rellax__layout">
                <svg class="rellax__item rellax__sleepy-p"><use href="#sleepy-p"></use></svg>
                <svg class="rellax__item rellax__fish-p"><use href="#fishy-bg"></use></svg>
                <svg class="rellax__item rellax__samuray-p"><use href="#samuray-p"></use></svg>
            </div>
        </div>
        <div class="rellax" data-rellax-speed="-3">
            <div class="rellax__layout">
                <svg class="rellax__item rellax__fishy-p"><use href="#fishy-bg"></use></svg>
                <svg class="rellax__item rellax__pizza-p"><use href="#pizza-p"></use></svg>
                <svg class="rellax__item rellax__roll-p"><use href="#roll-p"></use></svg>
            </div>
        </div>
        <div class="rellax" data-rellax-speed="-5">
            <div class="rellax__layouot" data-rellax-speed="3">
                <svg class="rellax__item rellax__lapsha-p"><use href="#lapsha-p"></use></svg>
                <svg class="rellax__item rellax__roll-sm-p"><use href="#roll-p"></use></svg>
            </div>
        </div>
        <svg class="error__sign error__sign--left"><use href="#ierogliphs1"></use></svg>
        <svg class="error__sign error__sign--right"><use href="#ierogliphs2"></use></svg>
    </div>
    <div class="error-page__img">
        <div class="suushi-wrapper">
            <div class="suushi-container">
                <div class="chopstick-container">
                    <div class="chopstick1"></div>
                    <div class="chopstick2"></div>
                </div>
                <div class="roll">
                    <div class="rice"></div>
                    <div class="seaweed"></div>
                    <div class="salmon"></div>
                    <div class="eye-left"></div>
                    <div class="shine-left"></div>
                    <div class="eye-right"></div>
                    <div class="shine-right"></div>
                    <div class="mouth"></div>
                    <div class="tongue"></div>
                </div>
            </div>
        </div>
        <p class="error-page__error">404</p>
    </div>
    <h2 class="error-page__title">УПС!</h2>
    <p class="error-page__text">
        К сожалению страница не найдена, но мы уже пытаемся исправить эту проблему
    </p>
    <div class="bamboo bamboo--no-signs">
        <div class="bamboo__cell bamboo__cell--black">
            <a href="/" class="bamboo__button">
                <div class="slide-button">
                    <div class="slide-button__copy">на главную</div>
                    <div class="slide-button__origin">на главную</div>
                </div>
            </a>
        </div>
    </div>
</main>
{{ footer }}
