<form class="search__form" onsubmit="searchProducts(this, event);">
  <input name="search" placeholder="{{ text_search }}" value="{{ search }}" class="search__input" type="text">

  <button aria-label="кнопка поиска" type="button" class="search__button">
    <img class="search__icon" src="{{ theme_url }}/img/icons/search.svg" alt="">
  </button>
</form>