// -------------------------------------
// Fonts
// -------------------------------------

$font-default: ("DINRoundPro", sans-serif);
$font-secondary: ("DinCondensed", sans-serif);
$font-jap: ('Noto Sans JP', sans-serif);
