// -------------------------------------
// Colors
// -------------------------------------

$brown: #472821;
$orange: #F14F10;
$green: #2EBD9D;
$beige: #F8E4CD;
$cream: #FEF5E3;
$grey: rgba($brown, 0.05);

$color-main: #472821;
$color-accent: salmon;
$color-black: #4A4A4A;
$color-white: #FFF;